body{
    background-color:#c2e5f2  ;  
}

.btn1{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background:#c2e5f2;
    box-shadow:8px 10px 30px #rgba(0,0,0,0.2);
    transform:0.4s;
}
  
.btn1:hover{
  background: #e5e6e7;
    color: #000000 ;
  }
  

form{
    background-color:#ceced0;
    margin: 50px;
    height: 450px;
  
}


table{
    width: 50%;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%,-50%);
  height: 66vh;
 
}
